@model NeiR.DATA.EF.Models.Order

@{
    ViewData["Title"] = "Create A New Order";
}
<h1>@ViewData["Title"]</h1>


@*<h4>Order</h4>
<hr />*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipToName" class="control-label"></label>
                <input asp-for="ShipToName" class="form-control" />
                <span asp-validation-for="ShipToName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipCity" class="control-label"></label>
                <input asp-for="ShipCity" class="form-control" />
                <span asp-validation-for="ShipCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipState" class="control-label"></label>
                <input asp-for="ShipState" class="form-control" />
                <span asp-validation-for="ShipState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipZip" class="control-label"></label>
                <input asp-for="ShipZip" class="form-control" />
                <span asp-validation-for="ShipZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="margin-left: 0 !important; margin-right: 2% !important;" type="submit" value="Save" class="btn btn-primary d-inline-flex btn-lg" />
                <a style="margin-left: 0 !important;" asp-action="Index" class="btn btn-dark d-inline-flex btn-lg">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
