@model NeiR.DATA.EF.Models.Damage

@{
    ViewData["Title"] = "Add New Damage range";
}

<h1 class="title">@ViewData["Title"]</h1>

@*<h4>Damage</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DamageId" class="control-label"></label>
                <input asp-for="DamageId" class="form-control" />
                <span asp-validation-for="DamageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinDamg" class="control-label"></label>
                <input asp-for="MinDamg" class="form-control" />
                <span asp-validation-for="MinDamg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDamg" class="control-label"></label>
                <input asp-for="MaxDamg" class="form-control" />
                <span asp-validation-for="MaxDamg" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <input style="margin-left: 0 !important; margin-right: 2% !important;" type="submit" value="Save" class="btn btn-primary d-inline-flex btn-lg" />
                <a style="margin-left: 0 !important;" asp-action="Index" class="btn btn-primary d-inline-flex btn-lg">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
