@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="Design" style="color: white !important; padding: 5% !important;">
            This app does not currently have a real email sender registered, see <a style="color:#E8600B !important;" href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p style="color: black;">
        Please check your email to confirm your account.
</p>
    }
}

