@model IEnumerable<NeiR.DATA.EF.Models.Weapon>
@{
    ViewData["Title"] = "Home";
}

@{
    ViewData["Title"] = "Home";
}

<!-- HERO SECTION-->
<div class="container1" style="margin-top: 30px;">
    <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url(img/BannerLogo1.png)">
        <div class="container1 py-5">
            <div class="row px-4 px-lg-5">
                <div class="col-lg-6">
                    <p class="p1 text-muted small text-uppercase mb-2">New Weapon Ability</p>
                    <h2 class="h7 text-uppercase mb-3">20% off on new Stun Up</h2><a class="btn btn-dark" asp-action="Shop" asp-controller="Notes">Browse collections</a>
                </div>
            </div>
        </div>
    </section>
    <!-- CATEGORIES SECTION-->
    <section class="pt-5 Design">
        <header class="text-center">
            <p class="small text-muted small text-uppercase mb-1" style="color: #E8600B !important; font-weight:500 !important;">Carefully created collections</p>
            <h2 class="h5 text-uppercase mb-4" style="color: #E8600B !important;">Browse our categories</h2>
        </header>
        <div class="row" style="background-color: transparent !important">
            <div class="col-md-4">
                <a class="category-item" asp-action="Index" asp-controller="Products"><img class="img-fluid" src="~/img/Large.png" alt="Picture of the Beastlord" /><strong class="category-item-title">Long Swords</strong></a>
            </div>
            <div class="col-md-4">
                <a class="category-item mb-4" asp-action="Index" asp-controller="Products"><img class="img-fluid" src="~/img/SmallSwords.jpg" alt="Picture of the Pheonix Dagger" /><strong class="category-item-title">Short Swords</strong></a>
                <a class="category-item" asp-action="Index" asp-controller="Products"><img class="img-fluid" src="~/img/Combat.png" alt="Picture of Emil Head" /><strong class="category-item-title">Combat Bracers</strong></a>
            </div>
            <div class="col-md-4">
                <a class="category-item" asp-action="Index" asp-controller="Products"><img class="img-fluid" src="~/img/Spear.png" alt="Picture of the Type-440 Lance" /><strong class="category-item-title">Spear</strong></a>
            </div>
        </div>

    <div class="container1" style="margin-top: 30px;">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url(img/BannerLogo3.png)">
            <div class="container1 py-5">
                <div class="row px-4 px-lg-5">
                    <div class="col-lg-6">
                        <h2 class="h7 text-uppercase mb-3">Shop with us now!</h2><a class="btn btn-dark" asp-action="WeaponShop" asp-controller="Weapons">Browse collections</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
            
    <!-- SERVICES-->
    <section class="py-5 container">
        <div class="p-0">
            <div class="row text-center gy-3">
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light" style="color: #E8600B !important;">
                                <use xlink:href="#delivery-time-1"> </use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1" style="color: #E8600B !important;">Free shipping</h6>
                                <p class="text-sm mb-0 text-muted" style="color: #E8600B !important;">Free shipping worldwide</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light" style="color: #E8600B !important;">
                                <use xlink:href="#helpline-24h-1"> </use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1" style="color: #E8600B !important;">24 x 7 service</h6>
                                <p class="text-sm mb-0 text-muted" style=" color: #E8600B !important;">Here anytime anywhere, <br />whenever you need!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-inline-block">
                        <div class="d-flex align-items-end">
                            <svg class="svg-icon svg-icon-big svg-icon-light" style="color: #E8600B !important;">
                                <use xlink:href="#label-tag-1"> </use>
                            </svg>
                            <div class="text-start ms-3">
                                <h6 class="text-uppercase mb-1" style="color: #E8600B !important;">Special Offer</h6>
                                <p class="text-sm mb-0 text-muted" style="color: #E8600B !important;">Free gift with every <br /> purchase of over $100!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- NEWSLETTER-->
    <section class="py-5 Design">
        <div class="p-0">
            <div class="row gy-3">
                <div class="col-lg-6">
                    <h5 class="text-uppercase" style="margin-left: 20px; color: #E8600B !important;">  Let's be friends!</h5>
                    <p class="text-sm text-muted mb-0" style="margin-left: 20px; color: #E8600B !important;">Email us to subscribe so you always know when the next deal is.</p>
                </div>
                <div class="col-lg-6">
                    <form>
                        <fieldset>
                            <div class="input-group">
                                <input class="form-control form-control-lg" type="email" placeholder="Enter your email address" aria-describedby="button-addon2">
                                <input class="btn btn-dark" id="button-addon2" type="submit" value="Subscribe" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>